<!--form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" value="">
  </mat-form-field>
</form>

<mat-progress-spinner
  id="search-request-spinner"
  mode="indeterminate">
</mat-progress-spinner>

<button type="button" class="btn btn-primary">Primary</button-->

<div class="row justify-content-center mt-3 mt-md-5">
  <div class="col-12 col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search terms" [(ngModel)]="searchTerms" (keyup.enter)="!inSearch && startSearch()" aria-label="Search terms" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" (click)="startSearch()" type="button" id="button-addon2" [disabled]="inSearch">
          <span class="oi oi-magnifying-glass" *ngIf="!inSearch" #searchBtn title="Search button" aria-hidden="true"></span>
          <span class="spinner-border spinner-border-sm" role="status" *ngIf="inSearch">
            <span class="sr-only">Loading...</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <!--span #alertContainer></span-->
  <div *ngFor="let alert of alerts" class="alert alert-primary col-10 alert-dismissible fade show" role="alert" close="closeAlert($index)">
    {{alert.msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <span class="col-6"><h3 class="nothingFoundText">{{nothingFound}}</h3></span>
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let entry of searchEntries" class="list-group-item" (click)="entryClicked(entry)">
        <h3>{{entry.company}} - {{entry.title}}</h3>
        <span [innerHTML]="entry.snippet"></span>
      </li>
    </ul>
  </div>
</div>
