<div class="wrapper">
  <div class="container">
    <div class="text-center mt-3">
      <h1>
        <a routerLink="/" id="title">Privacychamp</a>
      </h1>
      <h5>
        Your free archive of Privacy Policies and Terms of Service
      </h5>
    </div>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/find" routerLinkActive="active">Find</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/list" routerLinkActive="active">Watch Lists (coming soon)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </nav>

    <span id="outlet-wrapper">
      <router-outlet></router-outlet>
    </span>
  </div>
</div>

<!--div class="no-gutters mt-10">
  <div class="text-center">
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand mx-auto" href="/contact">Contact</a>
    </nav>
  </div>
</div-->
