<label for="inputURL">URL</label>
<input type="text" [(ngModel)]="url" id="inputURL" placeholder="">

<label for="inputRootSelector">Root Selector</label>
<input type="text" [(ngModel)]="rootSelector" id="inputRootSelector" placeholder="">

<label for="inputType">Type</label>
<input type="text" [(ngModel)]="documentType" id="inputType" placeholder="privacy-policy">

<label for="inputCompany">Company</label>
<input type="text" [(ngModel)]="company" id="inputCompany"placeholder="">

<label for="inputLang">Lang</label>
<input type="text" [(ngModel)]="lang" id="inputLang" placeholder="en">

<label for="inputApplicationDate">Application Date</label>
<input type="text" [(ngModel)]="applicationDate" id="inputApplicationDate" placeholder="2018-10-08T00:00:00">

<label for="inputPassword">Password</label>
<input type="text" [(ngModel)]="password" id="inputPassword" placeholder="">

<button type="submit" (click)="submitIndexRequest()" class="btn btn-primary">Submit</button>

<div class="row justify-content-center">
  <span class="col-6"><h3 class="confirmMessageText">{{confirmMessage}}</h3></span>
</div>
