<div class="row mt-3">
  <div class="col-12 col-md-10">
    <a routerLink="/find" class="btn btn-primary">Back</a>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-10 offset-md-1">
    <div *ngIf="document | async as doc">
      <h3>{{doc.company}} - {{doc.title}}</h3>
      Original source: <a [href]="doc.url" target="_blank">{{doc.url}}</a>
      <div class="card">
        <div class="card-body">
          <span [innerHTML]="doc.htmlRaw"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-10">
    <a routerLink="/find" class="btn btn-primary">Back</a>
  </div>
</div>
