<!--div class="row mt-3">
  <div class="col-12 col-md-10">
    <a routerLink="/find" class="btn btn-primary">Back</a>
  </div>
</div-->
<div class="row mt-3">
  <div class="col-12 col-md-10 offset-md-1">
    <form>
      <div class="form-group">
        <label for="inputEmail">Email address (optional)</label>
        <input type="email" [(ngModel)]="contactEmail" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputMessage">Message</label>
        <textarea type="password" [(ngModel)]="contactMessage" name="message" class="form-control" id="inputMessage" placeholder="Message"></textarea>
      </div>
      <button type="submit" (click)="submitMessage()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="row justify-content-center">
  <span class="col-6"><h3 class="confirmMessageText">{{confirmMessage}}</h3></span>
</div>
